{% extends 'base.html' %} {% load static %} {% block content %}
<div
    style="
        margin-top: 100px;
        margin-left: 100px;
        display: flex;
        flex-direction: row;
    "
>
    <figure>
        <img
            style="border-radius:50%;width: 270px; height: 270px;"
            class="is-rounded"
            src="{% if profile.picture.url %} {{ profile.picture.url }} {% else %} 'https://bulma.io/images/placeholders/96x96.png' {% endif %}"
        />
    </figure>
    <div
        style="
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            width: 500px;
        "
    >
        <div>
            <h1 style="font-size: 60px" class="title">
            {% if profile.first_name %}
                {{ profile.first_name }} {{ profile.last_name }} 
            {% else %}
                {{ profile.user.username }}
            {% endif %}</h1>
            <h2 style="font-size: 40px" class="subtitle">@{{ profile.user.username }}</h2>
        </div>
        <div>
            <p>Location: {{ profile.location }}</p>
            <p>WebSite: {{ profile.url }}</p>
        </div>
        <div
            style="
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            "
        >
        {% if user.is_authenticated and user != profile.user %}
            {% if follow_status == True %}
            <a href="{% url 'follow' profile.user 0 %}">
                <button
                style="margin-top: 10px; width: 200px;transition:all .3s ease;"
                class="button is-warning is-light"
            >
                Unfollow
            </button>
            </a>
            {% else %}
            <a href="{% url 'follow' profile.user 1 %}">
                <button
                style="margin-top: 10px; width: 200px;transition:all .3s ease;"
                class="button is-success is-light"
            >
                Follow
            </button></a>
            {% endif %}
        {% endif %}
            </a>
            {% if user.is_authenticated and user == profile.user %}
                <a href="{% url 'edit-profile' %}">
                    <button
                    style="margin-top: 10px; width: 200px"
                    class="button is-warning is-light"
                >
                    Edit profile
                </button>
                </a>
            {% endif %}
        </div>
    </div>
</div>
<nav class="level" style="margin-top: 50px">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Tweets</p>
            <p class="title">{{ posts_count }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Following</p>
            <p class="title">{{ following_count }}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Followers</p>
            <p class="title">{{ followers_count }}</p>
        </div>
    </div>
</nav>
<div style="margin-left: 150px; margin-right: 130px">
    <p class="subtitle">
        {% if profile.profile_info %}
        {{ profile.profile_info }}
        {% else %}
        There can be some info's about me, but I'am lazy!!!
        {% endif %}
    </p>
</div>
<div class="tabs is-centered">
    <ul>
        <li class="{% if url_name == 'profile'%} is-active {% endif %}">
            <a href="{% url 'profile' profile.user %}">Posts</a>
        </li>
        <li
            class="{% if url_name == 'profilefavorites'%} is-active {% endif %}"
        >
            <a href="{% url 'profilefavorites' profile.user %}">Saved</a>
        </li>
    </ul>
</div>
<div class="posts wrapper-posts">
    {% for post in posts %}
    <div class="box myBox">
        <article class="media">
            <div class="media-left">
                <a href="{{ post.get_absolute_url }}">
                    <img src="{{ post.picture.url }}" alt="Image" />
                </a>
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock %}
