{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Instagram</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
        />
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="card" style="width: 50vw; margin: 0 auto; margin-top: 20vh">
            <div class="card-content">
                <div class="row center-align">
                    <form method="post" action="" role="form" class="col s12">
                        {% csrf_token %}
                        <h3>Create an account</h3>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <label class="label">Username</label>
                                {{ form.username }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <label class="label">Email</label>
                                {{ form.email }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <label class="label">Password</label>
                                {{ form.password }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <label class="label">Confirm password</label>
                                {{ form.confirm_password }}
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                </span>
                            </p>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <span style="color: red; font-weight: bold"
                                    >{{ form.errors }}</span
                                >
                            </div>
                        </div>
                        <button
                            type="submit"
                            name="action"
                            class="button is-warning"
                        >
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
